@font-face {
    font-family: 'Neue Einstellung';
    src: url('NeueEinstellung-SemiBold.eot');
    src: local('Neue Einstellung SemiBold'), local('NeueEinstellung-SemiBold'),
        url('NeueEinstellung-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('NeueEinstellung-SemiBold.woff2') format('woff2'),
        url('NeueEinstellung-SemiBold.woff') format('woff'),
        url('NeueEinstellung-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Einstellung';
    src: url('NeueEinstellung-Black.eot');
    src: local('Neue Einstellung Black'), local('NeueEinstellung-Black'),
        url('NeueEinstellung-Black.eot?#iefix') format('embedded-opentype'),
        url('NeueEinstellung-Black.woff2') format('woff2'),
        url('NeueEinstellung-Black.woff') format('woff'),
        url('NeueEinstellung-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Einstellung';
    src: url('NeueEinstellung-Regular.eot');
    src: local('Neue Einstellung Regular'), local('NeueEinstellung-Regular'),
        url('NeueEinstellung-Regular.eot?#iefix') format('embedded-opentype'),
        url('NeueEinstellung-Regular.woff2') format('woff2'),
        url('NeueEinstellung-Regular.woff') format('woff'),
        url('NeueEinstellung-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Einstellung';
    src: url('NeueEinstellung-Medium.eot');
    src: local('Neue Einstellung Medium'), local('NeueEinstellung-Medium'),
        url('NeueEinstellung-Medium.eot?#iefix') format('embedded-opentype'),
        url('NeueEinstellung-Medium.woff2') format('woff2'),
        url('NeueEinstellung-Medium.woff') format('woff'),
        url('NeueEinstellung-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Einstellung';
    src: url('NeueEinstellung-Light.eot');
    src: local('Neue Einstellung Light'), local('NeueEinstellung-Light'),
        url('NeueEinstellung-Light.eot?#iefix') format('embedded-opentype'),
        url('NeueEinstellung-Light.woff2') format('woff2'),
        url('NeueEinstellung-Light.woff') format('woff'),
        url('NeueEinstellung-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Einstellung';
    src: url('NeueEinstellung-ExtraLight.eot');
    src: local('Neue Einstellung ExtraLight'), local('NeueEinstellung-ExtraLight'),
        url('NeueEinstellung-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('NeueEinstellung-ExtraLight.woff2') format('woff2'),
        url('NeueEinstellung-ExtraLight.woff') format('woff'),
        url('NeueEinstellung-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Einstellung';
    src: url('NeueEinstellung-Bold.eot');
    src: local('Neue Einstellung Bold'), local('NeueEinstellung-Bold'),
        url('NeueEinstellung-Bold.eot?#iefix') format('embedded-opentype'),
        url('NeueEinstellung-Bold.woff2') format('woff2'),
        url('NeueEinstellung-Bold.woff') format('woff'),
        url('NeueEinstellung-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Einstellung';
    src: url('NeueEinstellung-ExtraBold.eot');
    src: local('Neue Einstellung ExtraBold'), local('NeueEinstellung-ExtraBold'),
        url('NeueEinstellung-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('NeueEinstellung-ExtraBold.woff2') format('woff2'),
        url('NeueEinstellung-ExtraBold.woff') format('woff'),
        url('NeueEinstellung-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Einstellung';
    src: url('NeueEinstellung-Thin.eot');
    src: local('Neue Einstellung Thin'), local('NeueEinstellung-Thin'),
        url('NeueEinstellung-Thin.eot?#iefix') format('embedded-opentype'),
        url('NeueEinstellung-Thin.woff2') format('woff2'),
        url('NeueEinstellung-Thin.woff') format('woff'),
        url('NeueEinstellung-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

